*.class

# Package Files #
*.jar
*.war
*.ear

# Forge Config Files #
*.cfg

# Other files #
*.properties
forge_logo.png
/Start.java

# Directories #
/ibxm/
/net
/paulscode/
/cpw/
/assets/forge
/deobfuscation_data-1.6.2.lzma
/deobfuscation_data-1.6.4.lzma